.body{
    background-color: aliceblue;
}
.formholder{
    position: absolute;
width: 538px;
height: 604px;
left: 512px;
right:256px;
top: 74px;
background: #222E76;
border-radius: 40px;
}

.formholder .title{

}